#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    address: "127.0.0.1:6600",
    cache_dir: Some("~/.cache/rmpc"),
    lyrics_dir: "/mnt/hdd_data1/music",
    password: None,

    cava: (
        framerate: 60,
        autosens: true,
        input: (
            method: Fifo,
            source: "/tmp/mpd.fifo",
            sample_rate: 44100,
            channels: 2,
            sample_bits: 16,
        ),
    ),

    volume_step: 5,
    max_fps: 30,
    scrolloff: 0,
    wrap_navigation: false,
    enable_mouse: true,
    status_update_interval_ms: 1000,
    select_current_song_on_change: true,
    browser_column_widths: [20, 38, 42],

    album_art: (
        method: Auto,
        max_size_px: (width: 900, height: 900),
        disabled_protocols: ["http://", "https://"],
        vertical_align: Top,
        horizontal_align: Center,
    ),

    keybinds: (
        global: {
            ":":       CommandMode,
            ",":       VolumeDown,
            "s":       Stop,
            ".":       VolumeUp,
            "<tab>":   NextTab,
            "<s-tab>": PreviousTab,
            "1":       SwitchToTab("Queue"),
            "2":       SwitchToTab("Artists"),
            "3":       SwitchToTab("Albums"),
            "4":       SwitchToTab("Search"),
            "5":       SwitchToTab("Directories"),
            "6":       SwitchToTab("Lyrics"),
            "q":       Quit,
            ">":       NextTrack,
            "p":       TogglePause,
            "<":       PreviousTrack,
            "f":       SeekForward,
            "z":       ToggleRepeat,
            "x":       ToggleRandom,
            "c":       ToggleConsume,
            "v":       ToggleSingle,
            "b":       SeekBack,
            "~":       ShowHelp,
            "i":       ShowCurrentSongInfo,
            "o":       ShowOutputs,
            "P":       ShowDecoders,
        },
        navigation: {
            "k":         Up,
            "j":         Down,
            "h":         Left,
            "l":         Right,
            "<up>":      Up,
            "<down>":    Down,
            "<left>":    Left,
            "<right>":   Right,
            "<c-k>":     PaneUp,
            "<c-j>":     PaneDown,
            "<c-h>":     PaneLeft,
            "<c-l>":     PaneRight,
            "<c-u>":     UpHalf,
            "N":         PreviousResult,
            "a":         Add,
            "A":         AddAll,
            "r":         Rename,
            "n":         NextResult,
            "g":         Top,
            "<space>":   Select,
            "<c-space>": InvertSelection,
            "G":         Bottom,
            "<cr>":      Confirm,
            "i":         FocusInput,
            "J":         MoveDown,
            "<c-d>":     DownHalf,
            "/":         EnterSearch,
            "<c-c>":     Close,
            "<esc>":     Close,
            "K":         MoveUp,
            "d":         Delete,
        },
        queue: {
            "D":       DeleteAll,
            "<cr>":    Play,
            "<c-s>":   Save,
            "a":       AddToPlaylist,
            "d":       Delete,
            "i":       ShowInfo,
            "J":       JumpToCurrent,
        },
    ),

    search: (
        case_sensitive: false,
        mode: Contains,
        tags: [
            (value: "any",         label: "any tag"),
            (value: "artist",      label: "artist"),
            (value: "album",       label: "album"),
            (value: "title",       label: "title"),
            (value: "filename",    label: "filename"),
            (value: "genre",       label: "genre"),
            (value: "albumartist", label: "featured"),
        ],
    ),

    artists: (
        album_display_mode: SplitByDate,
        album_sort_by: Date,
    ),

    tabs: [
        (
            name: "Queue",
            pane: Split(
                direction: Vertical,
                panes: [
                    (size: "15%", pane: Pane(Header)),
                    (
                        size: "85%",
                        pane: Split(
                            direction: Horizontal,
                            panes: [
                                (
                                    size: "25%",
                                    pane: Split(
                                        direction: Vertical,
                                        panes: [
                                            (size: "50%", pane: Pane(AlbumArt)),
                                            (size: "50%", pane: Pane(Cava)),
                                        ],
                                    ),
                                ),
                                (size: "75%", pane: Pane(Queue)),
                            ],
                        ),
                    ),
                ],
            ),
        ),
        (
            name: "Artists",
            pane: Split(
                direction: Vertical,
                panes: [
                    (size: "15%", pane: Pane(Header)),
                    (size: "85%", pane: Pane(Artists)),
                ],
            ),
        ),
        (
            name: "Albums",
            pane: Split(
                direction: Vertical,
                panes: [
                    (size: "15%", pane: Pane(Header)),
                    (size: "85%", pane: Pane(Albums)),
                ],
            ),
        ),
        (
            name: "Search",
            pane: Split(
                direction: Vertical,
                panes: [
                    (size: "15%", pane: Pane(Header)),
                    (size: "85%", pane: Pane(Search)),
                ],
            ),
        ),
        (
            name: "Directories",
            pane: Split(
                direction: Vertical,
                panes: [
                    (size: "15%", pane: Pane(Header)),
                    (size: "85%", pane: Pane(Directories)),
                ],
            ),
        ),
        (
            name: "Lyrics",
            pane: Split(
                direction: Vertical,
                panes: [
                    (size: "15%", pane: Pane(Header)),
                    (size: "85%", pane: Pane(Lyrics)),
                ],
            ),
        ),
    ],
)
